<h1>Sample App</h1>

<p>
  This is the home page for the application I am making to fuck around with Ruby on Rails, with the help of the 
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
